.category {
  padding: 60px 0px 100px 0;
}

.details-category {
  display: none;
}

.category-blok {
  display: flex;
  justify-content: start;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b8a8d;
  border-radius: 25px;
  width: 210px;
  height: 35px;
  padding: 3px 15px;
  margin-left: 35px;
}
.category-full {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.category-list,
.category-lists {
  list-style: none;
}
.category-item {
  margin: 5px;
}
.category-link {
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 22px;
  color: #5b8a8d;
  text-decoration: none;
  opacity: 0.8;
}

.category-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 235, 226, 0.5);
  border-radius: 25px;
  width: 210px;
  padding: 3px 15px;
  height: 35px;
  margin: 15px 0;
}
.category-name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5b8a8d;
}

.category-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.category-names {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #5b8a8d;
  font-family: "Mulish";
  font-style: normal;
  margin-top: 10px;
}
.category-text {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #5b8a8d;

  font-style: normal;
  width: 150px;
  height: 13px;
  margin: 10px 0;
  margin-bottom: 3px;
}

.category-images {
  background: rgba(241, 241, 241, 0.5);
  border-radius: 10px;
  width: 150px;
  height: 164px;
  text-align: center;
  overflow: hidden;
}

.category-img:hover {
  transform: scale(1.1);
}

.category-img {
  width: 130px;
  height: 140px;
  transition: all 0.5s;
}
.category-numbers {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #5b8a8d;
  background: #ffebe2;
  border-radius: 10px;
  padding: 3px 20px;
  cursor: pointer;
}
.category-titles {
  display: flex;
  align-items: center;
}

span {
  color: #f46342;
  font-size: 12px;
}
.category-right {
  padding-left: 55px;
  /* margin-left: 24px; */
  /* background-color: red; */
}
.category-button {
  background: #5b8a8d;
  border-radius: 10px;
  width: 75px;
  height: 25.5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  border: 2px solid #5b8a8d;
  margin: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.category-button:hover {
  color: #5b8a8d;
  background: #fff;
}

.category-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.category-card {
  margin: 10px;
}

@media (max-width: 1450px) {
  .container {
    width: 1300px;
  }
}

@media (max-width: 1350px) {
  .container {
    width: 1150px;
  }
}

@media (max-width: 1160px) {
  .container {
    width: 1000px;
  }
  .category-box {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 1020px) {
  .container {
    width: 900px;
  }
  .category-title,
  .category-items {
    width: 200px;
  }
  .category-images {
    width: 145px;
    height: 160px;
  }
  .category-button {
    width: 60px;
  }
  .category-numbers {
    padding: 3px 12px;
  }

  .category-card:nth-child(7),
  .category-card:nth-child(8) {
    display: none;
  }
}

@media (max-width: 920px) {
  .container {
    width: 800px;
  }

  .category-title,
  .category-items {
    width: 165px;
  }
  .category-images {
    width: 125px;
    height: 150px;
  }

  .category-button {
    width: 55px;
  }
  .category-numbers {
    padding: 3px 10px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 700px;
  }

  .category-title,
  .category-items {
    width: 155px;
  }
  .category-images {
    width: 125px;
    height: 140px;
  }
  .category-right {
    margin-left: 0;
    padding: 0 20px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 600px;
  }

  .category-left {
    display: none;
  }

  .details-category {
    display: block;
  }

  .category-images {
    width: 155px;
    height: 165px;
  }

  .category-button {
    width: 65px;
  }
  .category-numbers {
    padding: 3px 15px;
  }
  .category-names {
    margin-left: 20px;
  }
}

@media (max-width: 620px) {
  .container {
    width: 500px;
  }

  .category-names {
    margin-left: 40px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }

  .category-names {
    margin-left: 20px;
  }
  .category-card {
    margin-left: 0;
    margin: 10px 12px;
  }
  .category-right {
    margin-left: 0;
    padding: 0 20px;
    padding-left: 0;
  }
  .category-box {
    justify-content: space-between;
  }
  .category-images {
    width: 129px;
    height: 142px;
  }
  .category-titles {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .category-button {
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .container {
    width: 300px;
  }

  .category-names {
    margin-left: 10px;
  }

  .category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .category-box {
    justify-content: space-between;
  }
  .category-right {
    margin: 0;
    padding: 0;
  }
  .category-blok {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 270px;
  }

  .category-images {
    height: 100px;
    margin-top: 0;
  }
  .category-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .category-text {
    width: 74px;
  }
  .category-button {
    width: 99px;
  }
  .category-numbers {
    padding: 1px 29px;
  }
}

.category {
  background-color: white;
}

.faq_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;
}
.faq_list__item {
  width: 100%;
  cursor: pointer;
  padding: 20px;
  padding-left: 0;
  padding-top: 00;
}

.faq_list__item.active .faq_list__item__question_wrapper {
  background: #5b8a8d;
  color: #fff;
}

.faq_list__item__question_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
}

.faq_list__item .icon {
  transition: all 0.2s ease;
}

.faq_list__item .icon {
  transition: all 0.2s ease;
}

.faq_list__item .closer {
  transform: rotate(45deg);
}
.faq_list__item__answer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  /* border-bottom: 1px solid #00000022; */
}

.faq_list__item__answer_wrapper.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.faq_list {
  box-sizing: border-box;

  padding: 15px 0;
}

.faq_list__item__question_wrapper {
  background: #fff;
  color: #5b8a8d;
  border-radius: 25px;
  padding: 20px 20px;
  color: #5b8a8d;
  width: 207px;
  background: rgba(255, 235, 226, 0.5);
  transition: all 0.2s;
}

.faq_list__item__question_wrapper:hover {
  background-color: #5b8a8d;
  color: #fff;
}

.faq_text {
  color: #037b35;

  padding: 10px;
  padding-left: 7px;
}

.icon {
  color: white;
  background: #72a0a3;
  padding: 5px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq_header {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  width: 200px;
  color: inherit;
}
.details .icon {
  margin-left: 25px;
}

.details .show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 207px;
}

.details {
  /* background-color: red; */
  width: 210px;
}

.details .faq_list__item__answer_wrapper:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 9px;
}

.faq_list {
  padding-top: 0;
}

.category-names {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #5b8a8d;
}

.category-numbers span {
  color: #d9bfb3;
}

summary {
  font-size: 14px;
  color: #5b8a8d;
}

summary svg {
  transition: all 0.3s;
}

summary span {
  margin-right: 14px;
  font-size: 16px;
  color: #5b8a8d;
}

.category-images {
  width: 100% !important;
}

.category-text,
.category-titles,
.category-button {
  width: 100% !important;
}

@media (max-width: 420px) {
  .category-right {
    margin-right: 45px !important;
  }

  .category-box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .category-card {
    width: 100% !important;
  }
}

@media (max-width: 720px) {
  .category-blok {
    justify-content: center;
  },

  .details-category {
    width: 100%;
  }
}

