.qeusion {
  width: 100%;
  background-color: #5b8a8d;
  padding-left: 0 !important;
  padding-top: 140px;
  position: relative;
  z-index: 10;
  padding-bottom: 100px;
}

.quesion__form-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #feebe2;
  margin-bottom: 20px;
  width: 516px;
  letter-spacing: 2px;
}

.form__login-input {
  width: 370px;
  height: 68px;
  border: 1px solid #ffffff;
  background-color: #5b8a8d;
  color: #ffffff;
  border-radius: 20px;
  outline: none;
  margin-top: 15px;
  padding-left: 37px;
  padding-right: 10px;
}

.form__login-input::placeholder {
  color: #feebe2;
}

.form__login-btn {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #5b8a8d;
  transition: 0.3s;
  width: 370px;
  height: 68px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  transition: all .3s;
  border: 2px solid #fff;
}

.form__login-btn:hover {
  background-color: #5b8a8d;
}

.form__login-btn.disabled:hover {
  background: #fff !important;
}

.form__login-btn:hover span {
  color: white;
}

.form__login-btn.disabled:hover span {
  color: #5b8a8d !important;
}

.qeusion__section {
  position: relative;
}

.carpet__images {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, -25.8%);

  filter: drop-shadow(-14px -8px 71px rgb(233, 229, 229));
}

@media only screen and (max-width: 1374px) {
  .carpet__images {
    width: 700px;
    height: 500px;
  }
}

@media only screen and (max-width: 1298px) {
  .carpet__images {
    width: 620px;
    height: 530px;
    transform: translate(0%, -26.5%);
  }
}

@media only screen and (max-width: 1240px) {
  .carpet__images {
    width: 550px;
    height: 540px;
    transform: translate(0%, -26%);
  }

  .quesion__form-title {
    /* background-color: red; */
    width: 440px;
  }
}

@media only screen and (max-width: 1178px) {
  .carpet__images {
    width: 520px;
    height: 520px;
    /* object-fit: contain; */

    transform: translate(0%, -27%);
  }

  .quesion__form-title {
    /* background-color: red; */
    width: 440px;
  }

  .qeusion__section {
    padding-top: 120px;
    /* display: flex;
        justify-content: space-between;
        align-items: center; */
  }
}

@media only screen and (max-width: 1086px) {
  .carpet__images {
    width: 537px;
    height: 547px;
    transform: translate(0%, -26%);
  }

  .quesion__form-title {
    width: 390px;
    height: 148px;
  }

  .qeusion__section {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 999px) {
  .carpet__images {
    width: 550px;
    transform: translate(0%, -10%);
    height: 500px;
  }

  .qeusion {
    padding-left: 90px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 920px) {
  .carpet__images {
    width: 450px;
    height: 300px;
  }

  .qeusion {
    padding-left: 90px;
    padding-top: 50px;
  }

  .qeusion .container {
    padding: 0;
  }
}

@media only screen and (max-width: 823px) {
  .carpet__images {
    width: 432px;
    height: 369px;
    object-fit: cover;
    transform: translate(0, -13%);
  }

  .qeusion {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 720px) {
  .carpet__images {
    display: none;
  }

  .qeusion__section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .quesion__form-title {
    width: 386px;
    height: 111px;
    font-size: 41px;
    line-height: 57px;
  }

  .form__login-input {
    margin: 20px;
  }
}

@media only screen and (max-width: 546px) {
  .form__login-input {
    width: 300px;
    height: 60px;
  }

  .form__login-btn {
    width: 300px;
    height: 60px;
  }

  .quesion__form-title {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 428px) {
  .quesion__form-title {
    width: 83%;
    font-size: 25px;

    height: 65px;
    line-height: 33px;
    margin-bottom: 27px;
  }
  .qeusion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    /* background-color: red; */
    padding: 30px 0;
  }
  .qeusion__section {
    padding-top: 0px;
    height: 40vh;
  }

  .quesion__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form__login-input {
    width: 277px;
    height: 52px;
    margin: 11px 0;
  }

  .form__login-btn {
    width: 277px;
  }
}

@media only screen and (max-width: 320px) {
  .quesion__form-title {
    width: 100%;
    font-size: 35px;
    line-height: 48px;
  }
}



