.partners {
  position: relative;
  z-index: 10;
}

.splides .container .splide-img {
  width: 160px;
  height: 50px;
  padding: 0px 10px;
  object-fit: contain;
}

.splides {
  visibility: visible;
  text-align: center;
  padding-bottom: 21px;
}

.splides-container {
  margin: 0 63px;
}

.splide-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
}

.splide-link {
  transition: 0.3s;
  cursor: pointer;
}

.splides-list {
  display: none;
}
.splides-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #5b8a8d;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 40px;
}
.splides-top {
  padding: 64px 0 20px;
}

.splides {
  background-image: linear-gradient(to bottom, white 0% 50%, #feebe2 50% 100%);
}

.splides-img {
  object-fit: contain;
}
