.tour .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour{
    height: 100vh;
    background: #5B8A8D;
    
}

.tour-title{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 71px;
    color: #FFFFFF;
width: 450px;

}
.tour-text{
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 96px;
 
color: #FEEAE1;

}
.tour-header{
    display: flex;
    margin: 80px 0;
    
}

.degree-btn{
   
    position: relative;
}

.tour-box{
    display: flex;
    justify-content: center;
    align-items: 
    center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tour-subtext{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 36px;
 padding-left: 15px;
 cursor: pointer;
color: #FFFFFF;

}

.degree-img{
    border: 3px solid white;
    border-radius: 60px;
    transition: 0.3s;
    cursor: pointer;
}
.degree-img:hover{
    border: 3px solid #FFDBA4;
    color: #FFDBA4;
    cursor: pointer;
}
.degree-btn{
    background-color: transparent;
    border: none;
}

.tour-icon{
    background: white;
border-radius: 50px;
padding: 5px;
width: 48px;
height: 38px;
}
.degree-btn:nth-child(2){
    margin-left: 28px;
}
/* .tour-icon{

} */

.tour .container{
position: relative;
}

.tour-right{
    position: absolute;
    top: 0;
    left: 90%;
}

.tour-titles{
    display: none;
}