.numbers {
  z-index: 10;
}

.numbers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.numbers-list {
  display: flex;
  gap: 116px;
  align-items: center;
}
.numbers-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numbers-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 42px;
  margin-bottom: 50px;
  color: #5b8a8d;
  padding: 9px;
  width: 390px;
  text-align: center;
}

.numbers {
  padding: 36px 0;
}

.numbers-item {
  transition: all .3s;
}

.numbers-num {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  padding: 80px 0;
  color: #5e8d8f;
}
.numbers-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.numbers-list {
  width: 850px;
}
.numbers {
  background-color: #fbf4ef;
  background-image: url("../../Assets/Img/bg1.png");
  background-repeat: no-repeat;
  background-size: 550px 700px;
  position: relative;
}
.numbers-left {
  width: 40%;
  position: absolute;
  top: 34.9%;
  left: 10.8%;
}
.numbers-right {
  width: 100%;
  display: flex;
  gap: 20px;
}

.numbers-right div {
  align-items: center;
}

.numbers-right button, .splide__arrow {
  padding: 7px;
  padding-left: 9px;
  border-radius: 50%;
  background: #6A9799 !important;
  border: 2px solid #6A9799 !important;
  color: #fff !important;
  font-size: 25px;
  display: grid;
  place-content: center;
  transition: all .3s;
  cursor: pointer;
}

.splide__arrow svg {
  fill: #fff !important;
  transition: all .3s;
}

.numbers-right button:hover, .splide__arrow:hover {
  background: transparent !important;
  color: #6A9799;
}

.numbers-right button:hover svg:hover, .splide__arrow svg:hover {
  fill: #6A9799 !important;
  stroke: #6A9799 !important;
}


.numbers-closer {
  font-style: normal;
  font-weight: 200;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  color: #5e8d8f;
  opacity: 0.5;
}

.numbers-disactive {
  font-style: normal;
  font-weight: 200;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  color: #5e8d8f;
  opacity: 0.2;
}

.numbers-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  width: 540px;
  margin-left: 398px;
  color: #5f8d8f;
}


.numbers-img {
  transition: all 3s cubic-bezier(1, 0.23, 0, 0.49);
}

.numbers-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  transform: translate(-90%, -50%);
  opacity: .7;
}

@media (max-width: 1025px) {
  .numbers-list {
    gap: 0;
    justify-content: space-between;
  }
}

